:root {
  --darkest: #202124;
  --dark: #27292b;
  --middle: #777777;
  --light: #e5e5e5;
  --lightest: #f0f0f0;
  --accent: #e2a316;

  --DARK-background: var(--darkest);
  --DARK-foreground: var(--light);
}

body {
  --background: var(--DARK-background);
  --foreground: var(--DARK-foreground);
}

html, body {
  margin: 0 auto;
  padding: 0;
  background: var(--background);

  font-family: sans-serif;
  color: var(--foreground);
  line-height: 1.2;
  max-width: 700px;
}

h1, h2, .center {
  text-align: center;
}

.line {
  padding: 6px 6px;
}

.line:nth-child(even) {
  background: rgba(255,255,255,0.05);
}

@media only screen and (min-width: 700px) {
  .line {
    border-radius: 3px;
  }
}

.grid-row {
  display: grid;
  grid-template-columns: auto 2rem 200px;
  grid-gap: 10px;
  align-items: center;
}

.grid-row .buttons {
  text-align: center;
}

.grid-row .buttons button {
  --pad: 3px;
  background: none;
  padding-right: var(--pad);
  padding-left: var(--pad);
  outline: none;
  border: none;
  font-size: 1.05rem;
}

.grid-sum {
  display: grid;
  grid-template-columns: auto calc(50px * 5);
  grid-gap: 10px;
}

.info .title,
.info .worth {
  display: block;
  line-height: 1.1;
}

.info .worth {
  opacity: 0.5;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .info .title,
  .info .worth {
    display: inline;
    line-height: 1.2;
  }

  .info .worth {
    float: right;
  }
}

.sum-value {
  text-align: center;
}

.value {
  text-align: end;
}

.line button {
  height: 1.5rem;
}
