.grid-row {
  display: grid;
  grid-template-columns: auto 50px 50px 50px 50px 50px;
  grid-gap: 10px;
}

.grid-sum {
  display: grid;
  grid-template-columns: auto calc(50px * 5);
  grid-gap: 10px;
}

.sum-value {
  text-align: center;
}

.value {
  text-align: end;
}

h1 {
  text-align: center;
}
